SAFETY_BOT_TOKEN=bottoken
ALLOWED_CHANNEL_IDS=1515821430586216468,1508284501485162541
ALERT_USER_ID=920819377627099166
ALERT_THRESHOLD=70
OCR_CONFIDENCE_THRESHOLD=0.45
NSFW_SCORE_THRESHOLD=0.55
MAX_SCAN_BYTES=8388608
MAX_VIDEO_SCAN_BYTES=33554432
MAX_OCR_FRAMES=12
MAX_NSFW_FRAMES=4
MAX_VIDEO_FRAMES=5
OCR_UPSCALE_TARGET=1000
SCAN_CONCURRENCY=2
SCAN_TIMEOUT_SECONDS=60
HTTP_TIMEOUT_SECONDS=20
MAX_ALERTED_IDS=5000
RESTART_MIN_BACKOFF=3
RESTART_MAX_BACKOFF=300
HEARTBEAT_LOG_INTERVAL=300
LOG_FILE=safety_bot.log
